@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$Font-family-body;
  background-color: variables.$Very-dark-blue;
  color: variables.$Pale-blue;
}
