@use "variables";
@use "initial";
@use "footer";

.main-container {
  border: 1px solid transparent;
  width: variables.$Width-mobile;
  height: variables.$Height-mobile;
  margin: 80px auto 90px;
}

.section-a {
  // border: 1px solid yellow;
  position: relative;
  .article-1 {
    background-color: variables.$Blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 134px;
    width: 100%;
    border-radius: 16px;
    position: absolute;
    z-index: 1;
  }
  .article-2 {
    position: absolute;
    top: 70px;
    background-color: variables.$Dark-blue;
    display: flex;
    align-items: flex-end;
    padding: 23px;
    justify-content: space-around;
    height: 134px;
    width: 100%;
    border-radius: 16px;
  }
  &__picture {
    width: 70px;
    height: 70px;
    border: 2px solid variables.$White;
    border-radius: 50%;
  }
  &__text {
    font-size: 1em;
    font-weight: 100;
    padding-bottom: 5px;
  }
  &__name {
    font-weight: 100;
  }
  &__button {
    font-size: 1.2em;
    color: variables.$Desaturated-blue;
    &--select {
      color: variables.$Pale-blue;
    }
    &:hover {
      cursor: pointer;
      color: variables.$White;
    }
  }
}

.section-b {
  // border: 1px solid red;
  margin-top: 228px;
  // position: relative;
}

.section-b-card {
  // border: 1px solid red;
  position: relative;
  margin-bottom: 120px;
  &__back {
    background-color: variables.$Light-red-work;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    overflow: hidden;
    border-radius: 16px;
    img {
      // border: 1px solid yellow;
      margin-top: -11px;
    }
  }
  &__fore {
    position: absolute;
    width: 100%;
    height: 121px;
    top: 40px;
    background-color: variables.$Dark-blue;
    border-radius: 16px;
    z-index: 1;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    div:nth-child(1) {
      width: 90%;
      // border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-bottom: 0;
      font-size: 1.2em;
      font-weight: 500;
      img {
        width: 20px;
        height: 3px;
      }
    }
    div:nth-child(2) {
      // border: 1px solid red;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-top: 10px;
      p:nth-child(1) {
        font-size: 2em;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: variables.$Blue;
    }
  }
}
